<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/quizstyle.css">
  <title>RemoteDeck | Home</title>
</head>
<body>
  <nav>
    <h4><img src="/RemoteDeck.png" height="100px"/></h4>
    <ul>
      <li><a href="/">Home</a></li>
      {{#if user }}
        <li><a href="/profile">Profile</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      {{else}}
        <li><a href="/about">About Us</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      {{/if}}
    </ul>
  </nav>

    <div class="jumbotron">
      <br><br><br>
      <h1 class="display-4">Commercial Security Training Course</h1>
              <br>
      <p class="lead">Read through the information sectors to gain relevant knowledge on the best cyber security best practices to keep you and your organisation safe while working.
    <br>  <br>CHALLENGE: Once you reach the end take the quiz until you can get full marks! </p> <br>
      <hr class="my-4">
        <br>
        <img src="/homepage/quizlogo.png" style="width:200px;height:200px;"/>
    </div>

  <div class="container mt-4">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Phishing and Ransomware Scams</h5>
      </div>
    </a><br>
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <p class="card-text">Ransomware is malicious software that infects a computer and prevents users from accessing it until a ransom is paid. </p>
    </div>
  </div>
  <div class="card">
        <div class="card-body">
      <p class="card-text">For numerous years, ransomware versions have been discovered, and they frequently try to extort money from victims by showing an on-screen alert. If you receive an alert, the first thing that should be done is shutting down the machine.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <p class="card-text">Malware is occasionally disguised as ransomware, but even after the ransom is paid, the data is not decrypted. This is referred to as wiper malware. For these reasons, it's critical to always have a current offline backup of your most crucial files and data.</p>
    </div>
  </div>
  <div class="card">
        <div class="card-body">
      <p class="card-text">Phishing is an effort by hackers to steal sensitive information from targeted persons by impersonating genuine organisations, typically via email.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <p class="card-text">Public domains, spelling issues within the body of the email or in the email address itself, and online demands for personal information are all things to look out for when identifying phishing emails. Email should not be used to send sensitive information.</p>
    </div>
  </div>
</div> </div>

<div class="container mt-4">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">The Use of Personal Devices</h5>
    </div>
  </a><br>
<div class="card-group">
<div class="card">
  <div class="card-body">
    <p class="card-text">Your email account serves as a portal to all your other internet accounts and contains a wealth of personal information. Make a strong password that is distinct from the rest of your accounts. Use three random phrases that signify something to you to create strong and memorable passwords.</p>
  </div>
</div>
<div class="card">
    <div class="card-body">
    <p class="card-text">When you use the same password for all your accounts, you put yourself at risk because if one password is stolen, all your accounts can be accessed. Of course, remembering a lot of passwords might be challenging, but you won't have to if you keep them in your browser.</p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <p class="card-text">Two-factor authentication is a free security feature that minimises the chance of being hacked by requiring you to submit a second piece of information when logging in, such as receiving an SMS or code. </p>
  </div>
</div>
<div class="card">
    <div class="card-body">
    <p class="card-text">Using the most up-to-date software (including anti-virus software), applications and operating system on your device can increase security instantly.</p>
  </div>
</div>
<div class="card">
    <div class="card-body">
    <p class="card-text">Turn on backup to ensure that you have a copy of all of your crucial data in case it is lost, destroyed, or stolen.</p>
  </div>
</div>
</div>
</div>
<div class="container mt-4">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Unencrypted File Sharing</h5>
    </div>
  </a><br>
<div class="card-group">
<div class="card">
  <div class="card-body">
    <p class="card-text">If you're transferring files, utilise encrypted Wi-Fi wherever possible. Encryption encrypts the data you submit so that other users can't read it. If "https" appears at the beginning of a website's URL, you know it's encrypted. </p>
  </div>
</div>
<div class="card">
      <div class="card-body">
    <p class="card-text">Whenever feasible, use passwords to secure your information, and avoid joining networks that you are unfamiliar with. Generic network names, such as "freepublicwifi," might be deceptive.</p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <p class="card-text">Check that the software you're using to exchange files is up to date. Developers invest a lot of time and effort into identifying and fixing security flaws in their software, but it will only function if you keep it up to date. </p>
  </div>
</div>
<div class="card">
      <div class="card-body">
    <p class="card-text">You should not assume that a Wi-Fi hotspot is safe, and you should only use it for as long as you need it. Hackers can steal your identity and swindle anyone whose contacts are kept in your machine if you enter an unencrypted site.</p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <p class="card-text">Firewalls protect your computer against hackers by enforcing a set of rules that determine what data should be let in and what should be excluded.</p>
  </div>
</div>
</div> </div>

<div class="jumbotron">
  <br><br><br>
  <p class="lead">The following quiz is based upon the information you have just read.<br> If you get an answer wrong, revisit that section and try again! Good luck!
</div>

  <div class="container mt-4">
    <div id="question-container" class="hide">
      <div id="question">Question</div>
      <div id="answer-buttons" class="btn-grid">
        <button class="btn">Answer 1</button>
        <button class="btn">Answer 2</button>
        <button class="btn">Answer 3</button>
        <button class="btn">Answer 4</button>
      </div>
    </div>
    <div class="controls">
      <button id="start-btn" class="start-btn btn">Start</button>
      <button id="next-btn" class="next-btn btn hide">Next</button>
    </div>
  </div>
  <br><br><br>
  <div class="container mt-4">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">IMAGE A</h5>
      </div>
    </a><br>
  <div class="card-group">
  <div class="card">
    <div class="card-body">
            <img class="card-img-top" src="personalsecurity/ransomwarepopup.png" style="width: 30vw; min-width: 330px;">
    </div>
  </div> </div> </div>
  <BR>
    <div class="container mt-4">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">IMAGE B</h5>
        </div>
      </a><br>
    <div class="card-group">
    <div class="card">
      <div class="card-body">
              <img class="card-img-top" src="personalsecurity/fakeemail.png" style="width: 50vw; min-width: 330px;">
      </div>
    </div> </div> </div>
   <br><br><br>  <br><br><br>  <br><br><br>  <br><br><br>  <br><br><br>  <br><br><br>  <br><br><br>  <br><br><br>  <br><br><br>

  <script>
  const startButton = document.getElementById('start-btn')
  const nextButton = document.getElementById('next-btn')
  const questionContainerElement = document.getElementById('question-container')
  const questionElement = document.getElementById('question')
  const answerButtonsElement = document.getElementById('answer-buttons')

  let shuffledQuestions, currentQuestionIndex

  startButton.addEventListener('click', startGame)
  nextButton.addEventListener('click', () => {
    currentQuestionIndex++
    setNextQuestion()
  })

  function startGame() {
    startButton.classList.add('hide')
    shuffledQuestions = questions.sort(() => Math.random() - .5)
    currentQuestionIndex = 0
    questionContainerElement.classList.remove('hide')
    setNextQuestion()
  }

  function setNextQuestion() {
    resetState()
    showQuestion(shuffledQuestions[currentQuestionIndex])
  }

  function showQuestion(question) {
    questionElement.innerText = question.question
    question.answers.forEach(answer => {
      const button = document.createElement('button')
      button.innerText = answer.text
      button.classList.add('btn')
      if (answer.correct) {
        button.dataset.correct = answer.correct
      }
      button.addEventListener('click', selectAnswer)
      answerButtonsElement.appendChild(button)
    })
  }

  function resetState() {
    clearStatusClass(document.body)
    nextButton.classList.add('hide')
    while (answerButtonsElement.firstChild) {
      answerButtonsElement.removeChild(answerButtonsElement.firstChild)
    }
  }

  function selectAnswer(e) {
    const selectedButton = e.target
    const correct = selectedButton.dataset.correct
    setStatusClass(document.body, correct)
    Array.from(answerButtonsElement.children).forEach(button => {
      setStatusClass(button, button.dataset.correct)
    })
    if (shuffledQuestions.length > currentQuestionIndex + 1) {
      nextButton.classList.remove('hide')
    } else {
      startButton.innerText = 'Did you answer all the questions correctly? Click to try again!'
      startButton.classList.remove('hide')
    }
  }

  function setStatusClass(element, correct) {
    clearStatusClass(element)
    if (correct) {
      element.classList.add('correct')
    } else {
      element.classList.add('wrong')
    }
  }

  function clearStatusClass(element) {
    element.classList.remove('correct')
    element.classList.remove('wrong')
  }

  const questions = [
    {
      question: 'What is ransomware?',
      answers: [
        { text: 'A type of malware that attacks computer networks and mobile devices', correct: true },
        { text: 'Software used to protect your device from harmful viruses', correct: false },
        { text: 'Equipment that cyber-attackers attempt to steal and don’t return until you pay them money', correct: false },
        { text: 'A form of crypto currency', correct: false }
      ]
    },
    {
      question: 'Take a look at picture A below, what should you do first if you receive this notification on your device?',
      answers: [
        { text: 'Re-start your computer', correct: true },
        { text: 'Disconnect from the network', correct: false },
        { text: 'Turn off your computer',  correct: true },
        { text: 'Report it to IT service desk', correct: false }
      ]
    },
    {
      question: 'Which of the following is the definition of “phishing”?',
      answers: [
        { text: 'A form of scam email or message that contains a false link', correct: true },
        { text: 'A sort of virus that threatens the victims data', correct: false }
      ]
    },
    {
      question: 'If you receive an email, what are some ways to recognize and avoid phishing emails?',
      answers: [
        { text: 'Beware of online requests for personal information', correct: false },
        { text: 'Check the email address ', correct: false },
        { text: 'Watch for spelling mistakes', correct: false },
        { text: 'All of these', correct: true }
      ]
    },
    {
      question: 'Take a look at image B below. You’ve received a fax! Do you think the following message is phishing or legitimate? HINT: Take note of the email which is misspelled. ',
      answers: [
        { text: 'Phishing', correct: true },
        { text: 'Legitimate', correct: false }
      ]
    },
    {
      question: 'What is the best defence against Ransomware?',
      answers: [
        { text: 'Don’t click unverified links or open unverified attachments', correct: false },
        { text: 'Use Strong, Unique Passwords', correct: false },
        { text: 'Back up your information', correct: true },
        { text: 'Don’t visit unsecured websites (HTTP://)', correct: false }
      ]
    }
  ]

  </script>


</body>
</html>
