<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <title>RemoteDeck | Home</title>
</head>
<body>
  <nav>
    <h4><img src="/RemoteDeck.png" height="100px"/></h4>
    <ul>
      <li><a href="/">Home</a></li>
      {{#if user }}
        <li><a href="/profile">Profile</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      {{else}}
        <li><a href="/about">About Us</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      {{/if}}
    </ul>
  </nav>


    <div class="container mt-4">
      <div class="jumbotron">
        <br><br><br>
        <h1 class="display-4">Welcome to RemoteDeck</h1>
                <br>
        <p class="lead">At RemoteDeck, we help remote workers to protect organisations, themselves and their loved ones with highly intuitive, engaging security awareness training that gets results.</p> <br>
        <hr class="my-4">
          <a class="btn btn-primary btn-lg" href="/register" role="button">JOIN TODAY</a>
          <br><br>
          <img src="/homepage/security logo.png" style="width:200px;height:200px;"/>
      </div>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  </body>
  </html>
