<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/quizstyle.css">
  <title>RemoteDeck | Home</title>
</head>
<body>
  <nav>
    <h4><img src="/RemoteDeck.png" height="100px"/></h4>
    <ul>
      <li><a href="/">Home</a></li>
      {{#if user }}
        <li><a href="/profile">Profile</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      {{else}}
        <li><a href="/about">About Us</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      {{/if}}
    </ul>
  </nav>

    <div class="jumbotron">
      <br><br><br>
      <h1 class="display-4">Commercial Security Training Course</h1>
              <br>
      <p class="lead">Read through the information sectors to gain relevant knowledge on the best cyber security best practices to keep you safe while working.
    <br>  <br>CHALLENGE: Once you reach the end take the quiz until you can get full marks! </p> <br>
      <hr class="my-4">
        <br>
        <img src="/homepage/quizlogo.png" style="width:200px;height:200px;"/>
    </div>

  <div class="container mt-4">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">The Importance of Using a VPN</h5>
      </div>
    </a><br>
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <p class="card-text">Using virtual private networks (VPNs), individuals may create their own secure network while accessing public networks. </p>
    </div>
  </div>
  <div class="card">
        <div class="card-body">
      <p class="card-text">You may encrypt and hide your online identity by utilising a VPN. Third parties may be less likely to get data you own if you don't want your internet activity recorded and ultimately stolen..</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <p class="card-text">By routing network traffic via a secure chain to a virtual server, VPNs encrypt and mask your IP address. This lets you to access the internet safely, securely, and anonymously, even on public Wi-Fi networks.</p>
    </div>
  </div>
  <div class="card">
        <div class="card-body">
      <p class="card-text">When utilising a VPN, the information is encrypted and hence inaccessible. This should be the only time you use a password-protected site, as these sites record your credentials and provide access to important information.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <p class="card-text">VPNs provide the ultimate online protection, therefore keep your VPN turned on at all times to protect yourself from data breaches and cyberattacks.</p>
    </div>
  </div>
</div> </div>

<div class="container mt-4">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Wi-Fi Encryption</h5>
    </div>
  </a><br>
<div class="card-group">
<div class="card">
  <div class="card-body">
    <p class="card-text">Unauthorised users can access your wireless network and get personal information if it is not secure. With an authentication procedure, Wi-Fi encryption secures your wireless network. WEP encryption is the least secure, whereas WPA3 encryption is the most secure.</p>
  </div>
</div>
<div class="card">
      <div class="card-body">
    <p class="card-text">The weaker the signal, the easier it is for someone to get access to your network. Any encryption lower than WPA2 makes you far more vulnerable to hackers. </p>

  </div>
</div>
<div class="card">
  <div class="card-body">
    <p class="card-text">You should not just change your passwords on a frequent basis. They, too, must be powerful. Simple passwords are extremely easy to crack and, when used across several sites, practically hand up your information.</p>
  </div>
</div>
<div class="card">
      <div class="card-body">
    <p class="card-text">Make sure your encryption method is up to date; if it isn't, attackers will be able to access your machine without needing to know your password.</p>

  </div>
</div>
</div>
</div>
<div class="container mt-4">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Weak Passwords</h5>
    </div>
  </a><br>
<div class="card-group">
<div class="card">
  <div class="card-body">
    <p class="card-text">In every breach, weak passwords play a part. Use passwords that aren't tied to your name, location, or phone number! Weak passwords are easily guessable, and if the length of the password is too short, an attacker can brute force it, therefore try to use random sequences with special characters.</p>
  </div>
</div>
<div class="card">
      <div class="card-body">
    <p class="card-text">Strong passwords must also be stored correctly, not in places that can be compromised. </p>

  </div>
</div>
<div class="card">
  <div class="card-body">
    <p class="card-text">It is important not to reuse passwords. If you are using the same password across multiple websites and one of these experiences a data breach, you’ve now exposed your password across all these services to the risk of being breached also.</p>
  </div>
</div>
<div class="card">
      <div class="card-body">
    <p class="card-text">It is recommended to use a phrase and incorporate shortcut codes or acronyms. </p>

  </div>
</div>
</div>
</div>
<div class="container mt-4">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Securing Home Networks</h5>
    </div>
  </a><br>
<div class="card-group">
<div class="card">
  <div class="card-body">
    <p class="card-text">Changing the default name of your home network is the simplest approach to protect it. It will be one-of-a-kind because of this. Limiting access to your wireless network is another smart approach to prevent outsiders from accessing your home network. The more people that have access to this information, the more likely it is that your data may fall into the wrong hands.</p>
  </div>
</div>
<div class="card">
      <div class="card-body">
    <p class="card-text">Turning on your router firewall helps to prevent unwanted traffic from entering or leaving our wireless network without your knowledge, most routers are preloaded with excellent hardware-based firewall options!</p>

  </div>
</div>
<div class="card">
  <div class="card-body">
    <p class="card-text">Disabling remote access decreases the chances of potential hacks by making it harder for hackers to potentially gain your legitimate credentials to access your network. To disable this feature, look for the remote access settings in your router’s interface.</p>
  </div>
</div>
<div class="card">
      <div class="card-body">
    <p class="card-text">One of the most crucial things you can do while working from home is to back up your data. If you have access to a network, save your work on a frequent basis. If you are working offline or without a network, ensure that you connect onto your network (even if just seldom) and store your data on shared drives so that information is collected and backups are produced.</p>

  </div>
</div>
</div>
</div>

<div class="jumbotron">
  <br><br><br>
  <p class="lead">The following quiz is based upon the information you have just read.<br> If you get an answer wrong, revisit that section and try again! Good luck!
</div>

  <div class="container mt-4">
    <div id="question-container" class="hide">
      <div id="question">Question</div>
      <div id="answer-buttons" class="btn-grid">
        <button class="btn">Answer 1</button>
        <button class="btn">Answer 2</button>
        <button class="btn">Answer 3</button>
        <button class="btn">Answer 4</button>
      </div>
    </div>
    <div class="controls">
      <button id="start-btn" class="start-btn btn">Start</button>
      <button id="next-btn" class="next-btn btn hide">Next</button>
    </div>
  </div>
  <br><br><br>  <br><br><br>  <br><br><br>  <br><br><br>  <br><br><br>  <br><br><br>  <br><br><br>  <br><br><br>  <br><br><br>  <br><br><br>

  <script>
  const startButton = document.getElementById('start-btn')
  const nextButton = document.getElementById('next-btn')
  const questionContainerElement = document.getElementById('question-container')
  const questionElement = document.getElementById('question')
  const answerButtonsElement = document.getElementById('answer-buttons')

  let shuffledQuestions, currentQuestionIndex

  startButton.addEventListener('click', startGame)
  nextButton.addEventListener('click', () => {
    currentQuestionIndex++
    setNextQuestion()
  })

  function startGame() {
    startButton.classList.add('hide')
    shuffledQuestions = questions.sort(() => Math.random() - .5)
    currentQuestionIndex = 0
    questionContainerElement.classList.remove('hide')
    setNextQuestion()
  }

  function setNextQuestion() {
    resetState()
    showQuestion(shuffledQuestions[currentQuestionIndex])
  }

  function showQuestion(question) {
    questionElement.innerText = question.question
    question.answers.forEach(answer => {
      const button = document.createElement('button')
      button.innerText = answer.text
      button.classList.add('btn')
      if (answer.correct) {
        button.dataset.correct = answer.correct
      }
      button.addEventListener('click', selectAnswer)
      answerButtonsElement.appendChild(button)
    })
  }

  function resetState() {
    clearStatusClass(document.body)
    nextButton.classList.add('hide')
    while (answerButtonsElement.firstChild) {
      answerButtonsElement.removeChild(answerButtonsElement.firstChild)
    }
  }

  function selectAnswer(e) {
    const selectedButton = e.target
    const correct = selectedButton.dataset.correct
    setStatusClass(document.body, correct)
    Array.from(answerButtonsElement.children).forEach(button => {
      setStatusClass(button, button.dataset.correct)
    })
    if (shuffledQuestions.length > currentQuestionIndex + 1) {
      nextButton.classList.remove('hide')
    } else {
      startButton.innerText = 'Did you answer all the questions correctly? Click to try again!'
      startButton.classList.remove('hide')
    }
  }

  function setStatusClass(element, correct) {
    clearStatusClass(element)
    if (correct) {
      element.classList.add('correct')
    } else {
      element.classList.add('wrong')
    }
  }

  function clearStatusClass(element) {
    element.classList.remove('correct')
    element.classList.remove('wrong')
  }

  const questions = [
    {
      question: 'You can feel reasonably secure when using a VPN at a Wi-Fi Hotspot',
      answers: [
        { text: 'True', correct: true },
        { text: 'False', correct: false }
      ]
    },
    {
      question: 'What is the main reason to use a VPN?',
      answers: [
        { text: 'Interacting on a private and public network, like a computer network, to create a virtual but secure connection.', correct: true },
        { text: 'To delete emails with malicious content', correct: false },
        { text: 'Software that warns you when an attacker is trying to steal your information.', correct: false },
        { text: 'To encrypt your Wi-Fi network.', correct: false }
      ]
    },
    {
      question: 'Which encryption language should your home Wi-Fi use?',
      answers: [
        { text: 'WEP', correct: false },
        { text: 'WPA', correct: false },
        { text: 'WPA2', correct: true },
        { text: 'WPA3', correct: true }
      ]
    },
    {
      question: 'How can you prevent a cyber-attacker entering your network?',
      answers: [
        { text: 'Ensure you have encryption and a strong password protecting your router', correct: true },
        { text: 'Monitor connected devices to your Wi-Fi', correct: true },
        { text: 'Get an IP scanner tool to detect a network intrusion', correct: true },
        { text: 'All of these', correct: true }
      ]
    },
    {
      question: 'What is the best way to maintain security and privacy while working remotely?',
      answers: [
        { text: 'Ensure all documents are hidden', correct: true },
        { text: 'Lock your computer when you leave it', correct: true },
        { text: 'Make sure nobody is piggybacking your Wi-Fi', correct: true },
        { text: 'All of these', correct: true }
      ]
    },
    {
      question: 'We are always told to back up personal data. When working from home, should you be concerned about backing up your data?',
      answers: [
        { text: 'Yes', correct: true },
        { text: 'No', correct: false }
      ]
    }
  ]

  </script>


</body>
</html>
